/*底部*/
#footer {
    width: 100%;
}

/*分享*/
.main-share {
    position: relative;
    bottom: 20px;
    width: 100%;
    padding-top: 15px;
}

.share-wrap {
    margin: auto;
    width: 460px;
    font-size: 14px;
    line-height: 20px;
    color: #de7f7f;
}

.iconfont {
    font-size: 20px;
    vertical-align: middle;
}

.icon-yixin{
    position: relative;
    bottom: 2px;
}

.share-wrap a {
    margin-right: 10px;
}

.share-wrap a:hover {
    color: #c9b27c;
}

/*链接*/
.foot-wrap {
    margin: auto;
    width: 840px;
}

.foot-logo {
    height: 48px;
}

.foot-nav {
    width: 480px;
    height: 48px;
    color: #666;
}

.foot-nav p {
    margin-top: 5px;
    line-height: 26px;
}

.parent {
    width: 142px;
    line-height: 26px;
    background-color: #610000;
    text-align: center;
    color: #fff;
}

.foot-info p {
    margin: 5px auto;
}

.foot-nav a:hover {
    text-decoration: underline;
}