.index, .download, .code .line, .android, .ios, .pc, #wrap2 a, .close, #wrap3 .left, #wrap3 .right {
    background-image: url("../images/home/index.png");
}

#main, #wrap1, .code {
    position: relative;
}

.logo-box, .logo-box .icon, .index, #change, .download, .code .line {
    position: absolute;
}

#main {
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    background: url("../images/home/start.jpg") center top no-repeat; /*wrap1的背景图*/
}

/*背景图*/
#wrap1 {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 1107px;
    margin: 0 auto;
}

#main .bg {
    background: url("../images/home/end.jpg") center top no-repeat;
}

/*logo*/
.logo-box {
    left: 30px;
    top: 40px;
}

.logo-box .logo {
    width: 34px;
    height: 114px;
}

.logo-box .icon {
    left: 43px;
    top: 0;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 16px;
}

/*进入官网*/
.index {
    right: 31px;
    top: 40px;
    width: 215px;
    height: 51px;
    background-position: -2281px -1657px;
}

.index:hover {
    background-position: -2281px -1606px;
}

/*年始年末*/
#change {
    left: 1350px;
    top: 545px;
    width: 76px;
    height: 128px;
    cursor: pointer;
    user-select: none;
}

/*下载*/
.download {
    left: 1042px;
    top: 695px;
    width: 507px;
    height: 154px;
    background-position: -463px -2220px;
}

.download .wrap {
    margin-top: 18px;
}

/*二维码*/
.code {
    margin: 5px 7px 0 42px;
    width: 114px;
    height: 114px;
}

.code .line {
    top: 0;
    width: 100%;
    height: 9px;
    background-position: -2284px -1709px;
    animation: scanning 2.5s linear infinite alternate;
}

@keyframes scanning {
    100% {
        top: 105px;
    }
}

.code img {
    width: 100%;
    height: 100%;
}

/*下载按钮*/
.download-phone {
    width: 205px;
    height: 128px;
    margin-right: 3px;
}

.ios, .android {
    display: block;
    width: 100%;
    height: 61px;
    margin-bottom: 2px;
}

.ios {
    background-position: -2280px -1545px;
}

.ios:hover {
    background-position: -2280px -1484px;
}

.android {
    height: 62px;
    background-position: -2572px -2155px;
}

.android:hover {
    background-position: -2777px -2155px;
}

.pc {
    width: 126px;
    height: 126px;
    background-position: -2280px -1358px;
}

.pc:hover {
    background-position: -2406px -1358px;
}

/*新版本情报*/
#wrap2 {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 1316px;
    background: url("../images/home/bg2.jpg") center top no-repeat;
}

#wrap2 .con {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding-top: 128px;
}

#wrap2 li {
    float: left;
    width: 464px;
    height: 431px;
    margin: 0 0 50px 85px;
}

#wrap2 li a {
    display: block;
    width: 100%;
    height: 100%;
}

.item1 {
    background-position: -2572px -1724px;
}

.item1:hover {
    background-position: -2572px -1293px;
}

.item2 {
    background-position: -2572px -431px;
}

.item2:hover {
    background-position: 0 -2220px;
}

.item3 {
    background-position: -2572px -862px;
}

.item3:hover {
    background-position: -454px -1358px;
}

.item4 {
    background-position: -2572px 0;
}

.item4:hover {
    background-position: -1816px -1789px;
}

/*情报详情*/
#mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    min-width: 1920px;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

#mask ul {
    position: relative;
    width: 1488px;
    height: 100%;
    margin: 145px auto;
}

#mask li {
    display: none;
    position: absolute;
    width: 1488px;
    height: 591px;
}

#mask .item1 {
    background: url("../images/home/info1.png") no-repeat center top;
}

#mask .item2 {
    background: url("../images/home/info2.png") no-repeat center top;
}

#mask .item3 {
    background: url("../images/home/info3.png") no-repeat center top;
}

#mask .item4 {
    background: url("../images/home/info4.png") no-repeat center top;
}

/*内容盒子*/
#mask .con {
    overflow: hidden;
    position: absolute;
    top: 65px;
    right: 200px;
    width: 546px;
    height: 435px;
    padding-right: 50px;
    line-height: 26px;
    font-size: 16px;
    color: #eadbc8;
}

#mask .text {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    padding-right: 50px;
}

#mask p {
    margin-top: 28px;
}

#btn div {
    position: absolute;
    cursor: pointer;
}

#mask .close {
    right: 260px;
    top: 145px;
    width: 52px;
    height: 52px;
    background-position: -2485px -1484px;
    -webkit-transition: transform .5s linear;
    -moz-transition: transform .5s linear;
    -ms-transition: transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear;
}

#mask .close:hover {
    transform: rotate(180deg);
}

#mask .left {
    left: 290px;
    top: 390px;
    width: 55px;
    height: 102px;
    background: url("../images/home/left.png");
}

#mask .right {
    right: 232px;
    top: 390px;
    width: 55px;
    height: 102px;
    background: url("../images/home/right.png");
}

#scroll {
    display: none;
    position: absolute;
    right: 410px;
    top: 215px;
    width: 8px;
    height: 436px;
    background-color: rgb(66, 12, 11);
}

#bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(98, 26, 26);
}

/*游戏特色*/
#wrap3 {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 1038px;
    background: url("../images/home/bg3.jpg") center top no-repeat;
}

#wrap3 .con {
    position: relative;
    max-width: 1140px;
    height: 520px;
    margin: 0 auto;
    padding-top: 158px;
    transform-style: preserve-3d; /*3D景深*/
}

#wrap3 ul {
    position: relative;
    left: 1425px;
    width: 720px;
    height: 100%;
    margin: auto;
    perspective: 800px; /*3D位置视图，该值越小旋转角度越大越明显*/
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}

#wrap3 li {
    position: absolute;
    width: 720px;
    height: 520px;
    cursor: pointer;
    transform: rotateY(0deg) translate3D(0px, 0px, -1000px);
    transition: transform .5s;
}

#wrap3 li img {
    width: 716px;
    height: 516px;
    border: 2px solid #a58f44;
}

/*banner图*/
#wrap3 li.active {
    left: 50%;
    z-index: 3;
    width: 720px;
    height: 520px;
    margin-left: -360px;
    cursor: default;
    transform: rotateY(0deg) translate3D(0px, 0px, 0px);
}

#wrap3 .active img {
    width: 716px;
    height: 516px;
}

#wrap3 li.next {
    z-index: 1;
    transform: rotateY(-45deg) translate3d(-40px, 0px, -400px);
}

#wrap3 li.prev {
    z-index: 2;
    transform: rotateY(45deg) translate3d(40px, 0px, -400px);
}

#wrap3 .active .black {
    opacity: 0;
}

#wrap3 .black {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

/*切换按钮*/
#wrap3 .left, #wrap3 .right {
    position: absolute;
    top: 50%;
    width: 38px;
    height: 52px;
    margin-top: 52px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#wrap3 .left {
    left: 0;
    background-position: -2982px -2155px;
}

#wrap3 .left:hover {
    left: -3px;
}

#wrap3 .right {
    right: 0;
    background-position: -2532px -1358px;
}

#wrap3 .right:hover {
    right: -3px;
}

/*幽灵边框*/
#wrap3 .cover {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 702px;
    height: 502px;
    margin-left: -351px;
}

#wrap3 .cover div {
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #cab055;
}

#wrap3 .cover .t {
    left: 0;
    top: 0;
}

#wrap3 .cover .r {
    right: 0;
    top: 0;
    width: 1px;
    height: 0;
}

#wrap3 .cover .b {
    right: 0;
    bottom: 0;
}

#wrap3 .cover .l {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 0;
}

#wrap3 .cover:hover .t {
    animation: w .2s linear forwards;
}

#wrap3 .cover:hover .r {
    animation: h .2s .2s linear forwards;
}

#wrap3 .cover:hover .b {
    animation: w .2s .4s linear forwards;
}

#wrap3 .cover:hover .l {
    animation: h .2s .6s linear forwards;
}

@keyframes w {
    100% {
        width: 100%;
    }
}

@keyframes h {
    100% {
        height: 100%;
    }
}

/*底部分享*/
#footer {
    position: absolute;
    bottom: 0;
}

#footer .main-share {
    bottom: 110px;
}

#footer .share-wrap {
    color: #c18e8f;
}

#footer .share-wrap a:hover {
    color: #fff;
}

/*底部链接*/
#footer .foot-nav, #footer .foot-info {
    color: #c5a8a8;
}